body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #000000;
  margin: 0;
  padding: 0;
}

.formulario {
  top: -15px;
  position: relative;
  max-width: 600px;
  margin: 6rem auto 2rem auto;
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.formulario h2 {
  color: var(--azul);
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: 1.8rem;
}

.formulario form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formulario input,
.formulario textarea {
  padding: 0.8rem 1rem;
  border: 2px solid var(--borde);
  border-radius: 8px;
  border: #f1eded solid 2px;
  font-size: 1rem;
  background: #fff;
  color: #000000;
  transition: border-color 0.3s;
}

.formulario input::placeholder,
.formulario textarea::placeholder {
  color: #999;
}

.formulario input:focus,
.formulario textarea:focus {
  outline: none;
  border-color: var(--azul);
  box-shadow: 0 0 5px var(--azul);
}

.formulario button {
  background-color: var(--azul);
  color: var(--blanco);
  padding: 0.9rem;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
}

.formulario button:hover {
  background-color: #1e3ae2;
}

.formulario .respuesta {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #555;
}

.footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #666;
  margin-top: 3rem;
  background: transparent;
}
button {
 padding: 15px 25px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 background: #e8e8e8;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
}

button::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 15px;
 background-color: #212121;
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}

button:hover {
 color: #e8e8e8;
}

button:hover::before {
 width: 100%;
}